In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
import os
from pathlib import Path
import random
import seaborn as sns


# Load project directory
PROJECT_DIR = Path(os.path.abspath('../..'))

df = pd.read_csv('/home/greg/Documents/Git_Projects/car-make-beta/data/raw/2021-01-14_raw.csv',skiprows=lambda i: i > 0 and random.random() > .01, usecols=['Issue Date'])
df.head()

   Issue Date
0  12/26/2015
1  12/24/2015
2  12/16/2015
3  12/26/2015
4  12/28/2015

In [39]:
df['date'] = df['Issue Date'].apply(lambda x: pd.to_datetime(x))

In [40]:
df.drop('Issue Date', axis=1, inplace=True)

In [41]:
df[df.date == '2020-01']

             date
111281 2020-01-01
118695 2020-01-01
119643 2020-01-01
120065 2020-01-01
120297 2020-01-01
120312 2020-01-01
120541 2020-01-01
120613 2020-01-01
120631 2020-01-01
120710 2020-01-01
120728 2020-01-01

In [42]:
df

             date
0      2015-12-26
1      2015-12-24
2      2015-12-16
3      2015-12-26
4      2015-12-28
...           ...
122343 2021-01-12
122344 2021-01-12
122345 2021-01-12
122346 2021-01-12
122347        NaT

[122348 rows x 1 columns]

In [43]:
111281/122348

0.9095449046980744

In [44]:
12300000*.909

11180700.0

In [45]:
12300000-11180700.0

1119300.0